<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>
      <% if(settings.website_title && settings.website_title.trim() !== '') { %>
        <%= settings.website_title %>
      <% } else { %>
        News
      <% } %>
    </title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <!-- Custom stlylesheet -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!-- HEADER -->
<div id="header">
    <!-- container -->
    <div class="container">
        <div class="row justify-content-center">
            <!-- LOGO -->
            <div class="col-md-3">
              <% if(settings.website_logo && settings.website_logo.trim() !== '') { %>
                <a href="/" id="logo"><img src="/uploads/<%= settings.website_logo %>" alt="Logo" /></a>
              <% } else { %>
                <a href="/" id="logo"><img src="/images/news.jpg" alt="Logo" /></a>
              <% } %>
            </div>
            <!-- /LOGO -->
        </div>
    </div>
</div>
<!-- /HEADER -->
<!-- Menu Bar -->
<div id="menu-bar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul class='menu'>
          <li><a href='/'>Home</a></li>
          <% categories.forEach(function(category) { %>
            <li><a href='/category/<%- category.slug %>'><%= category.name %></a></li>
          <% }); %>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- /Menu Bar -->

  <div id="main-content">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <%- body %>
        </div>
        <!-- sidebar -->
        <%- include('partials/sidebar') %> 
        <!-- /sidebar -->
      </div>
    </div>
  </div>
  <div id ="footer">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                <% if(settings.footer_description && settings.footer_description.trim() !== '') { %>
                  <span><%= settings.footer_description %></span>
                <% } else { %>
                  <span>© Copyright 2025 News | Powered by <a href="http://www.yahubaba.com/">Yahu Baba</a></span>
                <% } %>
                  
              </div>
          </div>
      </div>
  </div>
</body>
</html>
